@import '../utils/breakpoints';

header {
  max-width:90%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  img {
    width: 40%;
    flex: 40%;
  }
  
  nav {
    flex: 60%;
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0 5%;
  
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
    
      color: $primary;
      font-variant-caps: all-small-caps;
      white-space: nowrap;
      font-size: 1rem;

      &:hover {
        background-color: $primary;
        border-radius: 10%/30%;
        color: white;
      }
      &:visited {
        border: 1px solid $primary;
      }
    }
    .active{
      text-decoration: underline;
    }
  }

  @include desktop {
    img {
      flex: 0;
    }

    nav {

      a{
        font-variant-caps: normal;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 1%;
        &:last-child {
          margin-left: 5%;
        }
      }
    }
  }

  @include large-desktop {
    padding: 3% 5%;
  }
}
