.dropdown {
  width: 100%;
  
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 5vh;
    margin-top: 6%;

    border: none;

    @include inv-primary;

    text-transform: capitalize;

    @include rounded-border;

    span svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  ul {
    display: none;
    flex-flow: column;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 5%;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -30px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: lightgray;
      opacity: 0.2;
      @include rounded-border;
    }

    li {
      color: $primary;
      font-size: $small-font-size;
      padding-bottom: 10%;
    }
  }

  &:last-child {
    padding-bottom: 16%;
  }

  .open {
    display: flex;
  }

  @include tablet {
    ul:after {
      @include rounded-border;
    }
  }

  @include desktop {
    ul:after {
      @include rounded-border;
    }
  }

  @include large-desktop {
    ul:after {
      @include rounded-border;
    }
  }
}

